[submodule "_attachments/closure-library"]
	path = _attachments/closure-library
	url = https://code.google.com/p/closure-library
[submodule "_attachments/com.qwirx.util"]
	path = _attachments/com.qwirx.util
	url = https://github.com/qris/com.qwirx.util.git
[submodule "_attachments/com.qwirx.ui"]
	path = _attachments/com.qwirx.ui
	url = https://github.com/qris/com.qwirx.ui.git
[submodule "_attachments/com.qwirx.test"]
	path = _attachments/com.qwirx.test
	url = https://github.com/qris/com.qwirx.test.git
[submodule "_attachments/com.qwirx.grid"]
	path = _attachments/com.qwirx.grid
	url = https://github.com/qris/com.qwirx.grid.git
[submodule "_attachments/com.qwirx.data"]
	path = _attachments/com.qwirx.data
	url = https://github.com/qris/com.qwirx.data.git
[submodule "_attachments/jsdoc"]
	path = _attachments/jsdoc
	url = git://github.com/jsdoc3/jsdoc.git
