table.fb-grid-data-table
{
	border-collapse: collapse;
	background: white;
}

table.fb-grid-data-table > tr > th,
table.fb-grid-data-table > tr > td
{
	border: 1px solid #ddd;
	padding: 0.1em 0.2em;
}

table.fb-grid-data-table > tr > th
{
	background: #eee;
	text-align: left;
}

table.fb-grid-data-table > tr > td
{
}

.fb-grid
{
	position: relative;
}

.fb-grid-scroll-v
{
	height: 100%;
	width: 10px;
	position: absolute;
	right: 0;
	background-color: ThreeDFace;
}

.fb-grid-scroll-v table
{
	height: 100%;
	width: 100%;
	border-collapse: collapse;
}

.fb-grid-scroll-v td
{
	/*padding: 2px;*/
	vertical-align: top;
}

.fb-grid-scroll-v-inner
{
	height: 100%;
}

.goog-slider-thumb
{
	background-color: ThreeDShadow;
	height: 20px;
	position: relative;
}

.fb-nav-bar .goog-toolbar-button
{
	border: 2px outset white;
	/*
	height: 16px;
	width: 16px;
	background-image: url(icons.png);
	background-repeat: no-repeat;
	*/
	width: 1em;
	vertical-align: middle;
	text-align: center;
}

.goog-toolbar
{
	/* Client apps may override the URL at which they serve the image. */
	background: #fafafa url(../closure-library/closure/goog/images/toolbar-bg.png) repeat-x bottom left;
}

