.fb-table
{
	height: 100%;
	width: 100%;
}

.fb-nav
{
	width: 20em;
	background: #ddf;
	vertical-align: top;
}

.fb-nav a
{
	color: black;
}

.fb-doc-area-table
{
	border-spacing: 0;
}

.fb-doc-area-tabs-cell
{
	padding: 0;
}

.fb-doc-area-doc-row
{
	height: 100%;
}

.fb-doc-area-doc-cell
{
	vertical-align: top;
	padding: 0;
}

div.fb-docedit-datagrid
{
	padding: 0;
}

.com_qwirx_freebase_AutomaticFormView
{
	background-color: white;
	padding: 1em;
}

table.fb-doc-auto
{
	border-collapse: collapse;
	margin-bottom: 1em;
}

table.fb-doc-auto th, table.fb-doc-auto td
{
	padding: 0.2em 0.5em;
}

table.fb-doc-auto th
{
	border: 1px solid #ccc;
	border-style: solid none;
	background: #eee;
	text-align: left;
	font-weight: bold;
}

table.fb-doc-auto td
{
	border: 1px solid #ddd;
	border-style: solid none;
	background: #fff;
	text-align: left;
}

div.fb-success-flash
{
	margin: 0 0 1em;
	border: 2px solid #bfb;
	background: #dfd;
	padding: 0.5em;
}

div.fb-error-flash
{
	margin: 0 0 1em;
	border: 2px solid #fbb;
	background: #fdd;
	padding: 0.5em;
}

.goog-tab .fb-tab-close-button
{
	display: none;
}

.goog-tab.goog-tab-selected .fb-tab-close-button
{
	display: inline-block;
	vertical-align: bottom;
	top: -2px;
	margin-left: 0.5em;
}

.goog-tab .fb-tab-close-button .goog-custom-button-outer-box
{
	display: block;
	line-height: 0;
}

.goog-tab .fb-tab-close-button .goog-custom-button-inner-box
{
	padding: 2px;
}

.goog-tab .fb-tab-close-button .fb-tab-close-icon
{
	display: block;
	background-image: url(../ext/jquery-ui-themes/base/images/ui-icons_222222_256x240.png);/*{iconsContent}*/
	width: 9px;
	height: 9px;
	background-position: -84px -132px;
}


/* These are recommended styles for the default splitpane, from 
 * closure's splitpane.html demo.
 *
 * NOTE: According to that file, A bug in Safari 3 requires these
 * css definitions to be embedded in the HTML page, not in a
 * separate file. Ignoring that for now.
 */
.goog-splitpane-handle {
	border-left: 1px solid white;
	border-right: 1px solid gray;
	background: #ccc;
	position: absolute;
}

.goog-splitpane-handle-horizontal {
	cursor: col-resize;
}

.goog-splitpane-handle-vertical {
	cursor: row-resize;
}

.goog-splitpane-first-container,
.goog-splitpane-second-container
{
	border: 1px solid #ccc;
	overflow: auto;
	position: absolute;
}

.goog-splitpane-first-container
{
	padding: 1px;
}

.goog-splitpane-first-container  > *,
.goog-splitpane-second-container > *
{
	width: 100%;
	/*
	causes table to be larger than bounds when a scrollbar is present,
	making it overflow and force a verical scrollbar that's not wanted:
	height: 100%; 
	*/
}

/* from closure-library/trunk/closure/goog/demos/tabbar.html */

/*
fieldset {
	padding: 10px;
	border: 1px solid #369;
}
*/

.goog-tab-content {
	height: 9em;
	margin: 0;
	border: 1px solid #6b90da;
	border-top: 0;
	padding: 4px 8px;
	background: #fff;
	overflow: auto;
}

