.fb-table
{
	height: 100%;
	width: 100%;
}

.fb-nav
{
	width: 20em;
	background: #ddf;
	vertical-align: top;
}

.fb-nav a
{
	color: black;
}	

.fb-edit-area
{
	vertical-align: top;
}

table.fb-doc-auto
{
	border-collapse: collapse;
}

table.fb-doc-auto th, table.fb-doc-auto td
{
	padding: 0.1em 0.2em;
}

table.fb-doc-auto th
{
	border: 1px solid #ccc;
	border-style: solid none;
	background: #eee;
	text-align: left;
	font-weight: bold;
}

table.fb-doc-auto td
{
	border: 1px solid #ddd;
	border-style: solid none;
	background: #fff;
	text-align: left;
	font-weight: bold;
}

div.fb-success-flash
{
	margin: 0 0 1em;
	border: 2px solid #bfb;
	background: #dfd;
	padding: 0.5em;
}

div.fb-error-flash
{
	margin: 0 0 1em;
	border: 2px solid #fbb;
	background: #fdd;
	padding: 0.5em;
}
